[submodule "libuavcan"]
	path = libuavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "morus_uavcan_msgs"]
	path = morus_uavcan_msgs
	url = git@github.com:larics/morus_uavcan_msgs.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
